.erickimg {
    width: 488px;
    height: 570px;
    
}
.erickimg img {
    width: 100%;
    height: 100%;
    transition: all 0.3 ease;
    background-image: url('../img/YoEse1.png');
    background-size: cover;
    background-position: center;

}
.erickimg:hover img{
    rotate: 360deg;
    background-image: url('../img/YoEse2.png');
    transition: 1000ms;

}